.container-header {
  background-image: linear-gradient(90.23deg, #05ede3 0.02%, #645ffb 99.63%);

  display: flex;
  gap: 13px;

  height: 224px;

  position: fixed;
  right: 0px;
  left: 0px;
  left: 0px;

  font-family: "Rubik", sans-serif;
}

.logo {
  margin-left: 105px;
  margin-top: 46px;
  width: 35px;
  height: 35px;
}

.container-header h1 {
  color: #ffffff;

  margin-top: 42px;

  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
}

.container-main {
  display: flex;
  flex-direction: column;

  position: relative;

  background-color: #ffffff;
  left: 0px;
  right: 0px;
  top: 116px;
  bottom: 0px;

  padding: 106px 63px 100px;

  border-radius: 60px 60px 0px 0px;
}

.open-filters-button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  width: 80px;
  height: 30px;

  padding: 14px 8px 15px 8px;
  margin-bottom: 25px;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;

  color: #000000;

  background-color: #fafafa;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  cursor: pointer;
}
