.DeleteModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(16, 15, 15, 0.56);
}



.container-delete {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: relative;

  width: 476px;
  height: 319px;
  padding: 50px;

  background-color: #fffdfd;
  border-radius: 8px;
  color: #000;
}

.close-deleteModal, img{
    width: 16px;
    height: 16px;

    position: absolute;
    top:30px;
    right:30px;

    cursor: pointer;
}

.h3-deleteModal {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.p-deleteModal {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.btn-deleteModal {
  all: unset;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 364px;
  height: 50px;

  border-radius: 8px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #fff7f7;
  cursor: pointer;
}

.delete {
  background: #04c45c;
}

.cancel {
  background: rgba(251, 6, 21, 0.65);
}
