.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 354px;  
    margin-left: 165px;  
    margin-right: 165px;
    margin-bottom: 47px;
}

.line-img{
    background: #33323D;
    opacity: 0.15;
    height: 1px;    
}

.titulo-contact{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.contact-text{
    display: flex;  
    flex-direction: column;  
    justify-content: space-around;
    width: 635px;
    height: 354px;
}

.contact-text p{
    width: 635px;
    height: 180px;
}

.redes-sociais-contact{
    display: flex;
    justify-content: space-between;
    width: 104px;
    height: 24px;
}

.redes-sociais-contact img{
    display: flex;
    width: 25px;
    height: 24px;
}

.contact-msg{
    display: flex;
    justify-content: space-between;
    height: 426px;
    margin-left: 165px;  
    margin-right: 165px; 
    margin-bottom: 189px;      
}

.msg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 635px;
}

input{
    all: unset;
    box-sizing: border-box; 
    color: rgba(8, 8, 8);
    height: 48px;    
    background-color: rgba(51, 50, 61, 0.1);
}

.input-msg{
    height: 96px;    
}

.btn{
    width: 200px;
    height: 48px;
    color: #FFFFFF;
    background-color: #203A4C;
    padding: 17px 67px;
}

