.container-register {
  display: flex;
  min-height: 100vh;
}

.containerRegister-image {
  width: 50%;
  background-color: teal;
  background-image: url("../../assets/register.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.container-box-register {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h3-register {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 32px;
}

.container-inputs-register {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 72px;
}

.input-login {
  all: unset;
  box-sizing: border-box;
  width: 476px;
  height: 51px;
  left: 842px;
  top: 338px;

  padding: 16px;
  background-color: #fdfafa;
  border: 1px solid #e8e8e8;
}

::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #968b8b;
}

.container-btns {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 96px;
}

.btn {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 475px;
  height: 50px;
  left: 843px;
  top: 528px;

  border-radius: 8px;

  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #ffff;
  cursor: pointer;
}

.btn-login {
  background-color: #04c45c;
}

.btn-cancel {
  background: rgba(251, 6, 21, 0.65);
}

.href-login {
  text-decoration: none;
  color: rgb(0, 153, 255);
}
